#problemWrapper {
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

#problemBox {
    font-size: min(20vw, 300px);
    font-family: Arial, Helvetica, sans-serif;
}